  
  .textContainer {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    color: white;
    height: 100%;
    justify-content: center;
  }
  
  .account {
    width: 100%;
  }

  .logoutButton {
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    width: 15%;
    font-size: 0.5em;
    margin-bottom: 20%;
    background: #F3F3F3;
  }

  .inputName {
    border: none;
    border-radius: 10px;
    padding: 2%;
    width: 70%;
    height: 10%;
    font-size: 1em;
  }
  
  inputName:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .addButton {
    border-radius: 10px;
    margin-left: 5%;
    padding: 2%;
    color: #fff !important;
    text-transform: uppercase;
    background: #4E4EF4;
    display: inline-block;
    border: none;
    height: 10%;
  }

  .activeContainer {
    display: flex;
    align-items: center;
    margin-bottom: 50%;
  }
  
  .activeItem {
    display: flex;
    align-items: center;
  }
  
  .activeContainer img {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .textContainer h1 {
    margin-bottom: 0px;
  }
  
  #userList {
    margin-top: 20%;
    margin-bottom: 1%;
  }
