.outerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A1A1D;
    height: 100%;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #ECECEC;
    border-radius: 10px;
    height: 80%;
    width: 50%;
    padding: 0;
  }